{% extends "employees/base.html" %}


{% block bootstrap4_content %}
    <div class="container">

        <h2>{{object.full_name}}</h2>
        {% for name, value in object_dict.items %}
            <div class="row">
                <div class="col-sm-2">
            {{ name }}:
            </div>
            <div class="col-sm-3">
            {{ value }}
            </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

