{% extends "employees/base.html" %}

{% block bootstrap4_content %}
    <div class="container">

        <h2>Сотрудники {{paginator.per_page}}</h2>



<form class="form-inline">
  <label class="my-1 mr-2" for="department">Отдел</label>
  <select class="custom-select my-1 mr-sm-2" id="department" name="department">
    <option selected value="">Выбрать...</option>
      {% for department in departments %}
        <option {% if view.department_id == department.id %}selected{% endif %} value="{{department.id}}">{{department.name}}</option>
      {% endfor %}
  </select>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-input" type="checkbox" id="only_working" name="only_working" {% if view.only_working %}checked{% endif %}>
    <label class="form-check-label" for="only_working">
      Только работающие в компании
    </label>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Показать</button>
</form>

        <br/>
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-left">

          {% for page in paginator.pages %}
              {% if page_obj == page %}
              <li class="page-item active"><a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page.number }}{% if url_params %}&{% endif %}{{url_params}}">{{ page }}</a></li>
              {% endif %}
          {% endfor %}
        </ul>
        </nav>

        <ul class="list-group">
            {% for employee in object_list %}

            <li class="list-group-item"><a href="/{{employee.pk}}">{{ employee.full_name }}</a></li>
            {% endfor %}
        </ul>


    </div>

{% endblock %}
